@media (260px <= width <= 968px) {
  body {
    height: auto;
    background-attachment: fixed;
  }
  main {
    height: auto;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 10px;
    width: auto;
    z-index: 99;
    background-color: aliceblue;
  }

  header h3 {
    display: none;
    height: 2rem;
  }

  .snippets-container {
    margin-top: 2rem;
    width: max-content;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
  }

  .nav-tabs {
    position: fixed;
    top: 10%;
    bottom: 0%;
    left: 5px;
    z-index: 999;
    flex-wrap: nowrap;
    display: none;
  }

  .nav-tabs.showTabs {
    display: flex;
  }

  .show-nav {
    display: flex;
  }

  .image-box :is(.adds-box) {
    width: 100vw;
    grid-template-columns: repeat(4, 100vw);
  }

  .container-two :is(.eventscontainer, .graphContainer) {
    width: 100vw;
    grid-template-columns: repeat(4, 100vw);
  }

  .graphContainer .budget-chart,
  .eventscontainer .todo-snippet {
    max-width: auto;
    min-width: 100vw;
  }

  /* budget queries */
  .mybudgets {
    position: absolute;
    inset: 2.5rem 0 0 0;
    width: 100vw;
    height: 100vh;
    margin-top: 15px;
  }
  .Budget-nav {
    display: none;
  }
  .budget-cont-header {
    width: 100%;
  }
  .budget-cont-header ul li {
    width: max-content;
    padding: 5px 6.5px;
  }

  .budget-cont-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 34, 34);
  }

  .budget-input-area {
    width: 100%;
    height: auto;
  }
  .budget-input-area ul {
    position: relative;
    width: 100%;
    height: auto;
  }
  .budget-input-area ul li {
    width: 100%;
    position: absolute;
    inset: 5px;
  }

  #desk-size {
    display: none;
  }
  #mobile-screenA,
  #mobile-screenB {
    display: flex;
  }

  .budget-output {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    display: none;
  }
  .bud-out-ass {
    display: none;
  }
  .budget-output.showTabs {
    display: flex;
  }
  .bud-out-head {
    flex: 0.5;
  }
  .bud-out-li-container .bud-out-li {
    height: 50vh;
  }

  .bud-out-li-container {
    width: 100%;
    height: auto;
  }

  .bud-out-div-ul li .bud-out-li-container .bud-out-li-div div p {
    font-size: 12px;
  }
  #save-day-btn,
  #save-wk-btn,
  #save-mt-btn,
  #save-yr-btn {
    display: inline-block;
  }
  .bud-info h2 {
    justify-content: space-between;
  }

  .bud-info h2 :is(span) {
    padding: 5px;
    font-size: 13px;
    text-transform: uppercase;
    justify-self: flex-end;
    border: none;
    flex: auto;
  }

  .itrk-nav {
    position: absolute;
    top: 13.5%;
    left: 0;
    right: 0;
    display: flex;
    z-index: 99;
    background: local;
  }
  .itrk-nav button {
    width: 50%;
    height: 3rem;
  }
  .nonsal-cnt-items,
  .nonsalaried-cnt,
  .nonsal_cnt_items {
    position: absolute;
    inset: 0 0 10% 0;
    z-index: 999;
    background-color: aliceblue;
    display: none;
  }

  .nonsal-cnt-items.showTabs,
  .sal-cnt-items.showTabs {
    display: flex;
  }

  .itrk-items :is(p) {
    display: none;
  }
  .itrk-items input,
  .itrk-items select,
  .itrk-items button {
    width: calc(100% / 2);
  }
  .go-to-Input {
    display: inline-block;
    width: max-content;
    padding: 5px;
  }
}
